*{
    margin: 0;
    padding: 0;
}
img {
    border: 0;
    vertical-align: top;
}
.header-overlay {
    visibility: hidden;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .53);
    z-index: 30;
    opacity: 0;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}
section.cps-section {
    width: 100%;
    max-width: 1920px;
    display: block;
    float: unset;
    margin-left: auto;
    margin-right: auto;
}
.std{
    width: 100%;
    float: left;
}
section.cps-section .block-sliding-home {
    width: 100%;
    float: left;
    margin: 15px 0;
}
.slide-container {
    margin-top: 0px;
    height: 341px;
}

.cps-container {
    margin-left: auto;
    margin-right: auto;
    width: 1200px;
}

section.cps-section .block-sliding-home [class*=block-sliding-home__box-]:not(:last-child) {
    margin-right: 15px;
}
section.cps-section .block-sliding-home .block-sliding-home__box-left {
    width: 70%;
    float: left;
    height: 100%;    
}

section.cps-section .block-sliding-home .block-sliding-home__box-left .gallery-top {
    width: 100%;
    height: 100%;
}
.swiper-container {
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    list-style: none;
    padding: 0;
    z-index: 1;
}
.swiper-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 1;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-transition-property: -webkit-transform;
    transition-property: -webkit-transform;
    -o-transition-property: transform;
    transition-property: transform;
    transition-property: transform,-webkit-transform;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
}
section.cps-section .block-sliding-home .block-sliding-home__box-left .gallery-top .swiper-slide {
    height: 304px;
    overflow: hidden;
}
section.cps-section .block-sliding-home .block-sliding-home__box-left .gallery-top .swiper-slide {
    background: #f8f8f8;
    font-size: 18px;
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}
.swiper-slide {
    flex-shrink: 0;
    width: 100%;
    height: 100%;
    position: relative;
    -webkit-transition-property: -webkit-transform;
    transition-property: -webkit-transform;
    -o-transition-property: transform;
    transition-property: transform;
    transition-property: transform,-webkit-transform;
}
section.cps-section .block-sliding-home .block-sliding-home__box-left .gallery-top .swiper-slide > a {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
section.cps-section .block-sliding-home .block-sliding-home__box-left .gallery-top .swiper-slide img {
    width: 100%;
    height: 100%;
    color: transparent;
}

section.cps-section .block-sliding-home .block-sliding-home__box-right {
    width: 345px;
    float: left;
}
    section.cps-section .block-sliding-home .block-sliding-home__box-right .item-banner-right:not(:last-child) {
        margin-bottom: 15.5px;
    }
    section.cps-section .block-sliding-home .block-sliding-home__box-right .item-banner-right {
        width: 100%;
        height: 115px;
        float: left;
        overflow: hidden;
        border-radius: 1rem;
    }
.cpslazy.loaded {
    opacity: 1;
}
.cpslazy {
    transition: opacity .3s;
}
section.cps-section .block-sliding-home .block-sliding-home__box-right .item-banner-right img {
    width: 100%;
    height: 100%;
}
section.cps-section .block-sliding-home .block-sliding-home__box-left .gallery-thumbs {
    height: 72px;
    border-top: 1px solid #f4f4f4;
    background: #ffffff;
    -webkit-box-shadow: rgb(60 64 67 / 10%) 0px 1px 2px 0px, rgb(60 64 67 / 15%) 0px 2px 6px 2px;
    box-shadow: rgb(60 64 67 / 10%) 0px 1px 2px 0px, rgb(60 64 67 / 15%) 0px 2px 6px 2px;
    position: relative;
}
.swiper-container-free-mode > .swiper-wrapper {
    -webkit-transition-timing-function: ease-out;
    -o-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
    margin: 0 auto;
}
section.cps-section .block-sliding-home .block-sliding-home__box-left .gallery-thumbs .swiper-dot {
    width: 100%;
    height: 100%;
    display: block;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 10px;
    border-radius: 0;
    background: #fff;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    color: #343a40;
    overflow: hidden;
    cursor: pointer;
}

section.cps-section .block-sliding-home .block-sliding-home__box-left .gallery-thumbs .swiper-dot.active {
    border-bottom: 2px solid #d70018 !important;
    font-weight: 900;
    color: #343a40;
}
.img-qc {
    height: 30%;
    float: left;
}



.dot-container {
    bottom: 45%;
    left: 58%;
}

.dot {
    cursor: pointer;
    height: 15px;
    margin-left: 6px;
    width: 15px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6 ease;
}

    .active, .dot:hover {
        background-color: #717171;
    }

.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}

@keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}

.banner-container > a > img {
    width: 100%;
    height: 80px;
}

.block-hotsale {
    height: 433px;
    background: linear-gradient(to bottom, #2D0798, #C114E0);
    margin-top: 10px;
    border-radius: 10px;
}


.block-hotsale__box-tab-menu {
    padding-left: 10px;
    margin-top: 10px;
    height: 40px;
    color: white;
}

.product-hotsale {
    height: 34px;
    display: flex;
    -webkit-box-align: center;
    justify-content: center;
    align-items: center;
    float: left;
    margin: 0 1rem 0 0;
    padding: 0.5rem 1rem;
    cursor: pointer;
    border: 1px solid orange;
    background: #D70018;
    overflow: hidden;
    text-decoration: none;
    border-radius: 1rem;
}

.lock-hotsale__box-product__sticker-percent {
    width: 80px;
    height: 31px;
    background-image: url(/Content/images/logo.png);
    background-color: red;
    left: -4px;
}

.block-hotsale__box-title {
    width: 100%;
    padding: 10px 10px 0 0;
    display: flex;
    align-items: center;
    height: 55px;
}

.block-hotsale__box-product {
    padding-left: 10px;
    margin-top: 10px;
    height: 290px;
    display: flex;
}

.product-item {
    width: 228px;
    height: auto;
    min-height: 202px;
    float: left;
    margin-bottom: 1rem;
    padding: 1rem 1rem 0 1rem;
    background: #ffffff;
}

.block-hotsale__box-product__item__box-img {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: center;
    /* margin: 1rem 0; */
    margin: 2rem 0 1.5rem 0;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
}

.block-hotsale__box-product__item__box-img {
}

.box-title {
    margin-top: 10px;
    padding: 0;
    background: unset;
    display: flex;
    align-items: center;
    -webkit-box-align: center;
}

.box-title__title {
    -webkit-box-flex: 1;
    flex: 1;
    font-size: 1.8rem;
    font-weight: 700;
    line-height: 22px;
    color: #444444;
    text-decoration: none;
    float: left;
}

    .box-title__title > h2 {
        font-size: 18px;
        font-weight: 700;
        line-height: 22px;
        color: #444444;
        text-align: left;
        text-transform: uppercase;
        justify-content: center;
        align-items: center;
        margin: 0 1rem 0 0;
    }

.list-related-tag {
    display: flex;
    float: right;
    flex-wrap: wrap;
    padding: 0 0 0 0;
}

    .list-related-tag .item-related-tag {
        height: 34px;
        display: flex;
        -webkit-box-align: center;
        justify-content: center;
        align-items: center;
        float: left;
        margin: 0 1rem 0 0;
        padding: 0.5rem 1rem;
        cursor: pointer;
        color: #444444;
        border: 1px solid #E5E7EB;
        background: #F3F4F6;
        overflow: hidden;
        text-decoration: none;
        border-radius: 1rem;
    }
.box-product{
    width: 100%;
}
.box-product .list-product {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding: 1rem 0 0 0;
}
    .box-product .list-product .item-product{
        width: calc((100% - 4rem) / 5);
        height: auto;
        min-height: 202px;
        float: left;
        margin-bottom: 1rem;
        position: relative;
        padding: 1rem 1rem 0 1rem;
        background: #ffffff;
        transition: .3s;
    }
        .box-product .list-product .item-product .item-product__box-img{
            display: flex;
            -webkit-box-pack: center;
            justify-content: center;
            -webkit-box-align: center;
            align-items: center;
            text-align: center;
            margin: 2rem 0 1.5rem 0;
            transition: .3s;
        }
        .box-product .list-product .item-product .item-product__sticker-percent {
            width: 80px;
            height: 31px;
            background: red;
            top: 0px;
            position: absolute;
            left: -4px;
        }
