@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Use this area to provide additional information.</p>
@*<div class="block-hotsale">
        <div class="block-hotsale__box-tab-menu">
            <a class="product-hotsale">Điện thoại</a>
        </div>
        <div class="block-hotsale__box-title">
            <p>HOT SALE</p>
        </div>
        <div class="block-hotsale__box-product">
            <div class="block-hotsale__box product-item">
                <div class="item-product__sticker-percent">
                    <p>Giảm 42%</p>
                </div>
                <div class="item-product__box-img">
                    <img src="https://image.cellphones.com.vn/220x/media/catalog/product/t/_/t_i_xu_ng_2_18.png" />
                </div>


                <div class="lock-hotsale__box-product__item__box-name">

                </div>
                <div class="lock-hotsale__box-product__item__box-price">

                </div>

            </div>
            <div class="block-hotsale__box-product__item">
                <div class="lock-hotsale__box-product__sticker-percent">
                    <p>Giảm 42%</p>
                </div>
                <div class="block-hotsale__box-product__item__box-img">

                </div>
                <div class="lock-hotsale__box-product__item__box-name">

                </div>
                <div class="lock-hotsale__box-product__item__box-price">

                </div>

            </div>

        </div>
    </div>*@