@model CellPhoneX.Models.invoice
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Đã xác nhận</title>
</head>
<body>
    <div> 
        <p>CellPhoneX đã xác nhận đơn hàng @Model.invoice_id của bạn vào lúc @DateTime.Now!!!</p>
        <hr />
        <p>Cảm ơn quý khách !!! Hẹn gặp lại !!!</p>
    </div>
</body>
</html>
