@{
    ViewBag.Title = "Home Page";
}
<link href="~/Content/body.css" rel="stylesheet" />


<div class="slideshow">
    <div class="slide-container">
        <div class="slides"><img src="~/Content/images/logo.png"></div>
        <div class="slides"><img src="./images/slide2_713_384.jpg"></div>
        <div class="slides"><img src="./images/slide3_713_384.jpg"></div>
        <div class="slides"><img src="./images/slide4_713_384.jpg"></div>
@*        <a class="prev" onclick="prevSlide(-1)">&#10094;</a>
        <a class="next" onclick="prevSlide(1)">&#10095;</a>*@
    </div>    
    <div class="dot-container" style="text-align: center">
        <span class="dot" onclick="currentSlide(1)"></span>
        <span class="dot" onclick="currentSlide(2)"></span>
        <span class="dot" onclick="currentSlide(3)"></span>
        <span class="dot" onclick="currentSlide(4)"></span>
    </div>
</div>

<div>
    <section id="hotsale iphone">
        <div class="hotsale">
            <h2>Iphone</h2>
            <div class="hotsale-listproduct">
                <div class="hotsale-listproduct-product">
                    <div>
                        <a href="https://localhost:44354/Home/About">
                            <img class="img" src="https://cdn.cellphones.com.vn/media/catalog/product/cache/7/small_image/220x175/9df78eab33525d08d6e5fb8d27136e95/i/p/iphone-12_7__6.jpg">
                        </a>
                        </img>
                        <p class="hotsale-listproduct-product-name">iPhone 12 mini 256GB I Chính hãng VN/A</p>
                        <div class="price">
                            <span class="price1">20.000.000đ</span>
                            <span class="price2">22.990.000đ</span>
                        </div>
                    </div>
                    <div class="discount">
                        <p>13%</p>
                    </div>
                    <div class="buy">
                        <a to=""> Mua Ngay</a>
                    </div>
                </div>

                <div class="hotsale-listproduct-product">
                    <div>
                        <img class="img" src="https://cdn.cellphones.com.vn/media/catalog/product/cache/7/small_image/220x175/9df78eab33525d08d6e5fb8d27136e95/i/p/iphone-12_7__6.jpg"></img>
                        <p class="hotsale-listproduct-product-name">iPhone 12 mini 256GB I Chính hãng VN/A</p>
                        <div class="price">
                            <span class="price1">20.000.000đ</span>
                            <span class="price2">22.990.000đ</span>
                        </div>
                    </div>
                    <div class="discount">
                        <p>13%</p>
                    </div>
                    <div class="buy">
                        <a to=""> Mua Ngay</a>
                    </div>
                </div>
            </div>
        </div>
    </section><section id="hotsale iphone">
    <div class="hotsale">
        <h2>Iphone</h2>
        <div class="hotsale-listproduct">
            <div class="hotsale-listproduct-product">
                <div>
                    <a href="https://localhost:44354/Home/About">
                        <img class="img" src="https://cdn.cellphones.com.vn/media/catalog/product/cache/7/small_image/220x175/9df78eab33525d08d6e5fb8d27136e95/i/p/iphone-12_7__6.jpg">
                    </a>
                    </img>
                    <p class="hotsale-listproduct-product-name">iPhone 12 mini 256GB I Chính hãng VN/A</p>
                    <div class="price">
                        <span class="price1">20.000.000đ</span>
                        <span class="price2">22.990.000đ</span>
                    </div>
                </div>
                <div class="discount">
                    <p>13%</p>
                </div>
                <div class="buy">
                    <a to=""> Mua Ngay</a>
                </div>
            </div>

            <div class="hotsale-listproduct-product">
                <div>
                    <img class="img" src="https://cdn.cellphones.com.vn/media/catalog/product/cache/7/small_image/220x175/9df78eab33525d08d6e5fb8d27136e95/i/p/iphone-12_7__6.jpg"></img>
                    <p class="hotsale-listproduct-product-name">iPhone 12 mini 256GB I Chính hãng VN/A</p>
                    <div class="price">
                        <span class="price1">20.000.000đ</span>
                        <span class="price2">22.990.000đ</span>
                    </div>
                </div>
                <div class="discount">
                    <p>13%</p>
                </div>
                <div class="buy">
                    <a to=""> Mua Ngay</a>
                </div>
            </div>
        </div>
    </div>
</section>
</div>

<script>
    var slideIndex = 0;
    // showSlides(slideIndex);

    autoShow();

    // // Next/previous controls
    function prevSlide(n) {
        showSlides(slideIndex += n);
    }

    // //auto show
    function autoShow() {
        var i;
        var slides = document.getElementsByClassName("slides");
        var dots = document.getElementsByClassName("dot");
        for (i = 0; i < slides.length; i++) {
            slides[i].style.display = "none";
        }
        slideIndex++;
        if (slideIndex > slides.length) {
            slideIndex = 1;
        }
        for (i = 0; i < dots.length; i++) {
            dots[i].className = dots[i].className.replace(" active", "");
        }
        slides[slideIndex - 1].setAttribute("style", "display: block");
        dots[slideIndex - 1].className += " active";
        setTimeout(autoShow, 3000);
    }

    // // Thumbnail image controls
    function currentSlide(n) {
        showSlides(slideIndex = n);
    }


    function showSlides(n) {
        var i;
        var slides = document.getElementsByClassName("slides");
        var dots = document.getElementsByClassName("dot");
        if (n > slides.length) { slideIndex = 1 }
        if (n < 1) { slideIndex = slides.length }
        for (i = 0; i < slides.length; i++) {
            slides[i].style.display = "none";
        }
        for (i = 0; i < dots.length; i++) {
            dots[i].className = dots[i].className.replace(" active", "");
        }
        slides[slideIndex - 1].setAttribute("style", "display: block");
        dots[slideIndex - 1].className += " active";
    }

</script>