@model IEnumerable<CellPhoneX.Models.product_version>
@{
    ViewBag.Title = "Home Page";
}
<link href="~/Content/body.css" rel="stylesheet" />

<div class="cps-container">
    <div class="block-sliding-home__box-left">
        <div class="slide-container">
            <div class="slides"><img src="https://cdn.cellphones.com.vn/media/ltsoft/promotion/Note_11_pro_plus.png"></div>
            <div class="slides"><img src="https://cdn.cellphones.com.vn/media/ltsoft/promotion/Note_11_pro_plus.png"></div>
            <div class="slides"><img src="https://cdn.cellphones.com.vn/media/ltsoft/promotion/S22_uLTRA.png"></div>
            <div class="slides"><img src="./images/slide4_713_384.jpg"></div>
            @*        <a class="prev" onclick="prevSlide(-1)">&#10094;</a>
                <a class="next" onclick="prevSlide(1)">&#10095;</a>*@
        </div>
        <div class="dot-container" style="text-align: center">
            <span class="dot" onclick="currentSlide(1)"></span>
            <span class="dot" onclick="currentSlide(2)"></span>
            <span class="dot" onclick="currentSlide(3)"></span>
            <span class="dot" onclick="currentSlide(4)"></span>
        </div>

    </div>
    <div class="block-sliding-home__box-right">
        <div class="block-information__box-right_item">
            <img src="https://cdn.cellphones.com.vn/media/ltsoft/promotion/note_20_ultra.png" />
        </div>
        <div class="block-information__box-right_item">
            <img src="https://cdn.cellphones.com.vn/media/ltsoft/promotion/note_20_ultra.png" />
        </div>
        <div class="block-information__box-right_item">
            <img src="https://cdn.cellphones.com.vn/media/ltsoft/promotion/note_20_ultra.png" />
        </div>

    </div>

</div>
<div class="banner-container">
    <a href="#" rel="nofollow" target="_blank">
        <img alt="#" src="https://cdn.cellphones.com.vn/media/wysiwyg/Banner/1200-75-max.png">
    </a>
</div>

<div class="body-container d-flex flex-column">
    <div class="block-hotsale">
        <div class="block-hotsale__box-tab-menu">
            <a class="product-hotsale">Điện thoại</a>
        </div>
        <div class="block-hotsale__box-title">
            <p>HOT SALE</p>
        </div>
        <div class="block-hotsale__box-product">
            <div class="block-hotsale__box product-item">
                <div class="item-product__sticker-percent">
                    <p>Giảm 42%</p>
                </div>
                <div class="item-product__box-img">
                    <img src="https://image.cellphones.com.vn/220x/media/catalog/product/t/_/t_i_xu_ng_2_18.png" />
                </div>


                <div class="lock-hotsale__box-product__item__box-name">

                </div>
                <div class="lock-hotsale__box-product__item__box-price">

                </div>

            </div>
            <div class="block-hotsale__box-product__item">
                <div class="lock-hotsale__box-product__sticker-percent">
                    <p>Giảm 42%</p>
                </div>
                <div class="block-hotsale__box-product__item__box-img">

                </div>
                <div class="lock-hotsale__box-product__item__box-name">

                </div>
                <div class="lock-hotsale__box-product__item__box-price">

                </div>

            </div>

        </div>
    </div>
    <div class="block-products products-home mb-3 san-pham-noi-bat">
        <div class="box-title">
            <a href="#" class="box-title__title">
                <h2>ĐIỆN THOẠI NỔI BẬT</h2>
            </a>

            <div class="box-related-tag">
                <div class="list-related-tag" style="height: 34px">
                    <a href="#" class="item-related-tag">IP11</a>
                    <a href="#" class="item-related-tag">IP11</a>
                    <a href="#" class="item-related-tag">IP11</a>
                    <a href="#" class="item-related-tag">IP11</a>
                    <a href="#" class="item-related-tag">IP11</a>
                    <a href="#" class="item-related-tag">IP11</a>
                    <a href="#" class="item-related-tag">IP11</a>
                    <a href="#" class="item-related-tag">IP11</a>
                    <a href="#" class="item-related-tag">Xem tất cả</a>


                </div>
            </div>
        </div>
        <div class="box-product">

        </div>
    </div>
</div>

<!--<div>
    <section id="hotsale iphone">
        <div class="hotsale">
            <h2>Iphone</h2>
            <div class="hotsale-listproduct">
                <div class="hotsale-listproduct-product">
                    <div>
                        <a href="https://localhost:44354/Home/About">
                            <img class="img" src="https://cdn.cellphones.com.vn/media/catalog/product/cache/7/small_image/220x175/9df78eab33525d08d6e5fb8d27136e95/i/p/iphone-12_7__6.jpg" />
                        </a>
                        <p class="hotsale-listproduct-product-name">iPhone 12 mini 256GB I Chính hãng VN/A</p>
                        <div class="price">
                            <span class="price1">20.000.000đ</span>
                            <span class="price2">22.990.000đ</span>
                        </div>
                    </div>
                    <div class="discount">
                        <p>13%</p>
                    </div>
                    <div class="buy">
                        <a to=""> Mua Ngay</a>
                    </div>
                </div>-->
@*HEAD*@
<!--<div class="hotsale-listproduct-product">
                    <div>
                        <img class="img" src="https://cdn.cellphones.com.vn/media/catalog/product/cache/7/small_image/220x175/9df78eab33525d08d6e5fb8d27136e95/i/p/iphone-12_7__6.jpg" />
                        <p class="hotsale-listproduct-product-name">iPhone 12 mini 256GB I Chính hãng VN/A</p>
                        <div class="price">
                            <span class="price1">20.000.000đ</span>
                            <span class="price2">22.990.000đ</span>
                        </div>
                    </div>
                    <div class="discount">
                        <p>13%</p>
                    </div>
                    <div class="buy">
                        <a to=""> Mua Ngay</a>
                    </div>
                </div>
            </div>
        </div>
    </section><section id="hotsale iphone">
    <div class="hotsale">
        <h2>Iphone</h2>
        <div class="hotsale-listproduct">
            <div class="hotsale-listproduct-product">
                <div>
                    <a href="https://localhost:44354/Home/About">
                        <img class="img" src="https://cdn.cellphones.com.vn/media/catalog/product/cache/7/small_image/220x175/9df78eab33525d08d6e5fb8d27136e95/i/p/iphone-12_7__6.jpg" />
                    </a>
                    <p class="hotsale-listproduct-product-name">iPhone 12 mini 256GB I Chính hãng VN/A</p>
                    <div class="price">
                        <span class="price1">20.000.000đ</span>
                        <span class="price2">22.990.000đ</span>
                    </div>
                </div>
                <div class="discount">
                    <p>13%</p>
                </div>
                <div class="buy">
                    <a to=""> Mua Ngay</a>
                </div>
            </div>

            <div class="hotsale-listproduct-product">
                <div>
                    <img class="img" src="https://cdn.cellphones.com.vn/media/catalog/product/cache/7/small_image/220x175/9df78eab33525d08d6e5fb8d27136e95/i/p/iphone-12_7__6.jpg" />
                    <p class="hotsale-listproduct-product-name">iPhone 12 mini 256GB I Chính hãng VN/A</p>
                    <div class="price">
                        <span class="price1">20.000.000đ</span>
                        <span class="price2">22.990.000đ</span>
                    </div>
                </div>
                <div class="discount">
                    <p>13%</p>
                </div>
                <div class="buy">
                    <a to=""> Mua Ngay</a>
                </div>
            </div>
        </div>
    </div>
</section>
</div>-->
@*=======
    >>>>>>> 0dbc5dad5a2a1bb49e87aa1baf0d24e2fd02ecf5*@
<script>
    var slideIndex = 0;
    // showSlides(slideIndex);

    autoShow();

    // // Next/previous controls
    function prevSlide(n) {
        showSlides(slideIndex += n);
    }

    // //auto show
    function autoShow() {
        var i;
        var slides = document.getElementsByClassName("slides");
        var dots = document.getElementsByClassName("dot");
        for (i = 0; i < slides.length; i++) {
            slides[i].style.display = "none";
        }
        slideIndex++;
        if (slideIndex > slides.length) {
            slideIndex = 1;
        }
        for (i = 0; i < dots.length; i++) {
            dots[i].className = dots[i].className.replace(" active", "");
        }
        slides[slideIndex - 1].setAttribute("style", "display: block");
        dots[slideIndex - 1].className += " active";
        setTimeout(autoShow, 3000);
    }

    // // Thumbnail image controls
    function currentSlide(n) {
        showSlides(slideIndex = n);
    }


    function showSlides(n) {
        var i;
        var slides = document.getElementsByClassName("slides");
        var dots = document.getElementsByClassName("dot");
        if (n > slides.length) { slideIndex = 1 }
        if (n < 1) { slideIndex = slides.length }
        for (i = 0; i < slides.length; i++) {
            slides[i].style.display = "none";
        }
        for (i = 0; i < dots.length; i++) {
            dots[i].className = dots[i].className.replace(" active", "");
        }
        slides[slideIndex - 1].setAttribute("style", "display: block");
        dots[slideIndex - 1].className += " active";
    }

</script>
