@{
    ViewBag.Title = "Home Page";
}
<link href="~/Content/body.css" rel="stylesheet" />


<div class="slideshow">
    <div class="slide-container">
        <div class="slides"><img src="https://cdn.cellphones.com.vn/media/ltsoft/promotion/Note_11_pro_plus.png"></div>
        <div class="slides"><img src="https://cdn.cellphones.com.vn/media/ltsoft/promotion/Note_11_pro_plus.png"></div>
        <div class="slides"><img src="https://cdn.cellphones.com.vn/media/ltsoft/promotion/S22_uLTRA.png"></div>
        <div class="slides"><img src="./images/slide4_713_384.jpg"></div>
@*        <a class="prev" onclick="prevSlide(-1)">&#10094;</a>
        <a class="next" onclick="prevSlide(1)">&#10095;</a>*@
    </div>    
    <div class="dot-container" style="text-align: center">
        <span class="dot" onclick="currentSlide(1)"></span>
        <span class="dot" onclick="currentSlide(2)"></span>
        <span class="dot" onclick="currentSlide(3)"></span>
        <span class="dot" onclick="currentSlide(4)"></span>
    </div>
    <div class="banner-container">
        <a href="#" rel="nofollow" target="_blank">
            <img alt="#" src="https://cdn.cellphones.com.vn/media/wysiwyg/Banner/1200-75-max.png">
        </a>
    </div>
</div>


<script>
    var slideIndex = 0;
    // showSlides(slideIndex);

    autoShow();

    // // Next/previous controls
    function prevSlide(n) {
        showSlides(slideIndex += n);
    }

    // //auto show
    function autoShow() {
        var i;
        var slides = document.getElementsByClassName("slides");
        var dots = document.getElementsByClassName("dot");
        for (i = 0; i < slides.length; i++) {
            slides[i].style.display = "none";
        }
        slideIndex++;
        if (slideIndex > slides.length) {
            slideIndex = 1;
        }
        for (i = 0; i < dots.length; i++) {
            dots[i].className = dots[i].className.replace(" active", "");
        }
        slides[slideIndex - 1].setAttribute("style", "display: block");
        dots[slideIndex - 1].className += " active";
        setTimeout(autoShow, 3000);
    }

    // // Thumbnail image controls
    function currentSlide(n) {
        showSlides(slideIndex = n);
    }


    function showSlides(n) {
        var i;
        var slides = document.getElementsByClassName("slides");
        var dots = document.getElementsByClassName("dot");
        if (n > slides.length) { slideIndex = 1 }
        if (n < 1) { slideIndex = slides.length }
        for (i = 0; i < slides.length; i++) {
            slides[i].style.display = "none";
        }
        for (i = 0; i < dots.length; i++) {
            dots[i].className = dots[i].className.replace(" active", "");
        }
        slides[slideIndex - 1].setAttribute("style", "display: block");
        dots[slideIndex - 1].className += " active";
    }

</script>
