@{
    ViewBag.Title = "Home Page";
}
<link href="~/Content/body.css" rel="stylesheet" />
<section class="cps-section">
    <div class="std">
        <div class="cps-container">
            <div class="block-sliding-home">
                <div class="block-sliding-home__box-left">
                    <div class="swiper-container gallery-top swiper-container-initialized swiper-container-horizontal">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <a href="#">
                                    <img class="swiper-lazy swiper-lazy-loaded" src="https://cdn.cellphones.com.vn/media/ltsoft/promotion/Note_11_pro_plus.png" />
                                </a>

                            </div>
                            <div class="swiper-slide">
                                <a href="#">
                                    <img class="swiper-lazy swiper-lazy-loaded" src="https://cdn.cellphones.com.vn/media/ltsoft/promotion/Note_11_pro_plus.png" />
                                </a>

                            </div>
                            <div class="swiper-slide">
                                <a href="#">
                                    <img class="swiper-lazy swiper-lazy-loaded" src="https://cdn.cellphones.com.vn/media/ltsoft/promotion/Note_11_pro_plus.png" />
                                </a>

                            </div>
                            <div class="swiper-slide">
                                <a href="#">
                                    <img class="swiper-lazy swiper-lazy-loaded" src="https://cdn.cellphones.com.vn/media/ltsoft/promotion/Note_11_pro_plus.png" />
                                </a>

                            </div>
                        </div>

                    </div>
                    <div class="swiper-container gallery-thumbs swiper-container-initialized swiper-container-horizontal swiper-container-free-mode swiper-container-thumbs">
                        <div class="swiper-wrapper">
                            
                            <div class="swiper-dot " onclick="currentSlide(1)">
                                GALAXY S22 SERIES
                                <br />
                                Ưu đãi hấp dẫn
                            </div>
                            <div class="swiper-dot" onclick="currentSlide(2)">
                                GALAXY S22 SERIES
                                <br />
                                Ưu đãi hấp dẫn
                            </div>
                            <div class="swiper-dot" onclick="currentSlide(3)">
                                GALAXY S22 SERIES
                                <br />
                                Ưu đãi hấp dẫn
                            </div>
                            <div class="swiper-dot" onclick="currentSlide(4)">
                                GALAXY S22 SERIES
                                <br />
                                Ưu đãi hấp dẫn
                            </div>
                        </div>
                        
                    </div>
                </div>
                <div class="block-sliding-home__box-right">
                    <a href="#" class="item-banner-right">
                        <img class="cpslazy loaded" src="https://cdn.cellphones.com.vn/media/ltsoft/promotion/Xiaomi_buds_3.png" />
                    </a>
                    <a href="#" class="item-banner-right">
                        <img class="cpslazy loaded" src="https://cdn.cellphones.com.vn/media/ltsoft/promotion/Xiaomi_buds_3.png" />
                    </a>
                    <a href="#" class="item-banner-right">
                        <img class="cpslazy loaded" src="https://cdn.cellphones.com.vn/media/ltsoft/promotion/Xiaomi_buds_3.png" />
                    </a>

                </div>

            </div>
        </div>
    </div>
</section>

<div class="banner-container">
    <a href="#" rel="nofollow" target="_blank">
        <img alt="#" src="https://cdn.cellphones.com.vn/media/wysiwyg/Banner/1200-75-max.png">
    </a>
</div>

<div class="body-container d-flex flex-column">
    @*<div class="block-hotsale">
        <div class="block-hotsale__box-tab-menu">
            <a class="product-hotsale">Điện thoại</a>
        </div>
        <div class="block-hotsale__box-title">
            <p>HOT SALE</p>
        </div>
        <div class="block-hotsale__box-product">
            <div class="block-hotsale__box product-item">
                <div class="item-product__sticker-percent">
                    <p>Giảm 42%</p>
                </div>
                <div class="item-product__box-img">
                    <img src="https://image.cellphones.com.vn/220x/media/catalog/product/t/_/t_i_xu_ng_2_18.png" />
                </div>


                <div class="lock-hotsale__box-product__item__box-name">

                </div>
                <div class="lock-hotsale__box-product__item__box-price">

                </div>

            </div>
            <div class="block-hotsale__box-product__item">
                <div class="lock-hotsale__box-product__sticker-percent">
                    <p>Giảm 42%</p>
                </div>
                <div class="block-hotsale__box-product__item__box-img">

                </div>
                <div class="lock-hotsale__box-product__item__box-name">

                </div>
                <div class="lock-hotsale__box-product__item__box-price">

                </div>

            </div>

        </div>
    </div>*@
    <div class="block-products products-home mb-3 san-pham-noi-bat">
        <div class="box-title">
            <a href="#" class="box-title__title">
                <h2>ĐIỆN THOẠI NỔI BẬT</h2>
            </a>

            <div class="box-related-tag">
                <div class="list-related-tag" style="height: 34px">
                    <a href="#" class="item-related-tag">IP11</a>
                    <a href="#" class="item-related-tag">IP11</a>
                    <a href="#" class="item-related-tag">IP11</a>
                    <a href="#" class="item-related-tag">IP11</a>
                    <a href="#" class="item-related-tag">IP11</a>
                    <a href="#" class="item-related-tag">IP11</a>
                    <a href="#" class="item-related-tag">IP11</a>
                    <a href="#" class="item-related-tag">IP11</a>
                    <a href="#" class="item-related-tag">Xem tất cả</a>
                </div>
            </div>
        </div>
        <div class="box-product">
            <div class="list-product">
                <div class="item-product">
                    <div class="item-product__box-img">
                        <a href="#" class="img-product">
                            <img src="" />
                        </a>
                    </div>
                    <div class="item-product__sticker-percent">
                        <p>Giảm</p>
                    </div>
                    <div class="item-product__box-name">
                        <a href="#">Name</a>
                    </div>
                    <div class="item-product__box-price">
                        <p>Giá</p>
                    </div>
                    <div class="item-product__box-rating">

                    </div>
                    <div class="item-product__promotion">

                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<script>
    var slideIndex = 0;
    // showSlides(slideIndex);

    autoShow();

    // // Next/previous controls
    function prevSlide(n) {
        showSlides(slideIndex += n);
    }

    // //auto show
    function autoShow() {
        var i;
        var slides = document.getElementsByClassName("swiper-slide");
        var dots = document.getElementsByClassName("swiper-dot");
        for (i = 0; i < slides.length; i++) {
            slides[i].style.display = "none";
        }
        slideIndex++;
        if (slideIndex > slides.length) {
            slideIndex = 1;
        }
        for (i = 0; i < slides.length; i++) {
            slides[i].className = slides[i].className.replace(" active", "");
        }
        for (i = 0; i < dots.length; i++) {
            dots[i].className = dots[i].className.replace(" active", "");
        }
        slides[slideIndex - 1].setAttribute("style", "display: block");
        
        slides[slideIndex - 1].className += " active";
       
        dots[slideIndex - 1].className += " active";
        setTimeout(autoShow, 3000);
    }

    // // Thumbnail image controls
    function currentSlide(n) {
        showSlides(slideIndex = n);
    }


    function showSlides(n) {
        var i;
        var slides = document.getElementsByClassName("swiper-slide");
        var dots = document.getElementsByClassName("swiper-dot");
        if (n > slides.length) { slideIndex = 1 }
        if (n < 1) { slideIndex = slides.length }
        for (i = 0; i < slides.length; i++) {
            slides[i].style.display = "none";
        }
        for (i = 0; i < dots.length; i++) {
            dots[i].className = dots[i].className.replace(" active", "");
        }
        slides[slideIndex - 1].setAttribute("style", "display: block");
        slides[slideIndex - 1].className += " active";
        dots[slideIndex - 1].className += " active";
    }

</script>
