<link href="~/Content/header.css" type="text/css" rel="stylesheet" />
@model IEnumerable<CellPhoneX.Models.product>

<header class="cps-header">
    <nav class="cps-navbar">
        <div class="cps-navbar__box-main affix" data-spy="affix">
            <div class="cps-container">
                <div class="box-logo">
                    <a href="@Url.Action("Index","Home")" title="CellPhoneX">
                        <img src="~/Content/images/logo.png" />
                    </a>
                </div>
                <form class="form-box-search">
                    <div class="box-search">
                        <div class="cps-group-input">
                            <div class="input-group-btn">
                                <i class="fas fa-search"></i>
                            </div>
                            <input type="text" name="q" id="search" class="cps-input cta-search" placeholder="Bạn cần tìm gì?" maxlength="128" autocomplete="off" />
                        </div>
                    </div>
                </form>
                <div class="box-about">
                    <a href="#" class="item-about about-1 about-delivery-tracking cta-tra-cuu-dh">
                        <div class="about__box-icon">
                            <img />
                        </div>
                        <div class="about__box-content">
                            <p class="mb-0 title">
                                Tra cứu
                                <br />
                                đơn hàng
                            </p>
                        </div>
                    </a>
                    <a href="#" class="item-about about-2 about-delivery-tracking gio-hang">
                        <div class="about__box-icon">
                            <img />
                        </div>
                        <div class="about__box-content">
                            <p class="mb-0 title">
                                Giỏ
                                <br />
                                hàng
                            </p>
                        </div>
                    </a>
                    <a href="#" class="item-about about-3 about-delivery-tracking tai-khoan">
                        <div class="about__box-icon">
                            <img />
                        </div>
                        <div class="about__box-content">
                            <p class="mb-0 title">
                               Tài
                                <br />
                                khoản
                            </p>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <div class="clear">

        </div>
    </nav>
</header>
<!--<div class="header">
    <section id="menu">

        <div class="logo">
            <img src="~/Content/images/logo.png" />
        </div>

        <form class="form-search">
            <div class="search-bar">
                <i class="fa fa-search"></i>
                <input type="search" class="form-control" placeholder="Bạn cần tìm gì?">
            </div>
            <div class="search-box">-->
                @*<ul>
                    <li>
                        <a>
                            <div class="phone-image"></div>
                            <div class="phone-info">
                                <div class="phone-name"></div>
                                <div class="phone-price"></div>
                            </div>
                        </a>
                    </li>
                </ul>*@
            <!--</div>
        </form>

        <div id="overlay"></div>

        <div class="navbar-menu">
            <ul>
                <li>@Html.ActionLink("Trang chủ", "Index", "Home")</li>
                <li>@Html.ActionLink("Sản phẩm", "About", "Home")</li>
                <li>@Html.ActionLink("Tài khoản", "Contact", "Home")</li>
            </ul>
        </div>
    </section>
</div>-->

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script>
    
    @*$(".search-bar").click(function () {
        $('#overlay').css({display: "block"});
    })*@

    $('#overlay').click(function () {
        $('#overlay').css({display: "none" });
    })

    $(".search-bar").keyup(function () {
        GetPhone();

        function GetPhone() {
            var strKey = $(".search-bar").focus().val;
            $.ajax(
                {
                    type: "POST",
                    url: "/Product/SearchPhone",
                    data: "{PhoneName: '" + strKey + "'}",
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: function (result) {
                        var searchBox = $(".search-box");
                        searchBox.append(
                            $("<ul></ul>").append(
                                $.each(result, function (item, phone) {
                                    $.append(
                                        $("<li></li>").append(
                                            $("<li></li>").append(
                                                $("<a></a>").append(
                                                    $("<div></div>").append(
                                                        $("<img/>").attr("src", "~/Content/images/" + phone.image)
                                                    )
                                                )
                                            )
                                        )
                                    )
                                })
                            )
                        )
                        
                    }
                })
        }

    })
</script>
