
@{
    ViewBag.Title = "XacnhanDonhang";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div style="text-align:center">
    <h2>Đơn hàng của bạn đang được CellPhoneX xử lý</h2>
    <hr />
    <h2>Vui lòng kiểm tra Mail của bạn để XÁC NHẬN ĐƠN HÀNG nhé</h2>
    <hr />
    <h5>Chúng tôi sẽ xử lý sớm nhất có thể</h5>
    <h5>Cảm ơn quý khách</h5>
</div>

