
@{
    ViewBag.Title = "Customer";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<link href="~/Content/Admin.css" rel="stylesheet" type="text/css" />
<div class="layout__content">
    <div class="layout__content-main">
        <section id="dashboard">
            <div class="dashboard">
                <p> Customer</p>
            </div>
        </section>
    </div>
</div>

