
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<link href="~/Content/Admin.css" rel="stylesheet" type="text/css" />
<div class="layout__content">
    <div class="layout__content-main">
        <section id="dashboard">
            <div class="dashboard">
                <div class="dashboard-top">
                    <div class="dashboard-top-search">
                        <form>
                            <input placeholder="Search ..."></input>
                            <span>
                               
                                @*<SearchOutlined></SearchOutlined>*@
                                </span>
                                    </form>
                                </div>
                                <div class="dashboard-top-content">
                                    <li class="dashboard-top-content-avatar">
                                        <img src="https://we.race.vn/wp-content/uploads/2021/01/cellphoneS.png"></img>
                                        <span>DangKhang</span>
                                    </li>
                                    <li class="dashboard-top-content-bell">
                                @*<BellOutlined></BellOutlined>*@
                                </li>
                                    </div>
                                </div>

                                <div class="dashboard-middle">
                                    <div class="dashboard-middle-statistic">
                                        <div class="dashboard-middle-statistic-content">
                                            <li>
                                                <div class="dashboard-middle-statistic-icon">
                                @*<ShoppingOutlined></ShoppingOutlined>*@
                                <a>aaa</a>
                                        </div>
                                        <div class="dashboard-middle-statistic-title">
                                            <span class="total">2</span>
                                            <span class="title">Total Sales</span>
                                        </div>
                                    </li>
                                </div>
                                <div class="dashboard-middle-statistic-content">
                                    <li>
                                        <div class="dashboard-middle-statistic-icon">
                                @*<ShoppingCartOutlined></ShoppingCartOutlined>*@
                                </div>
                                        <div class="dashboard-middle-statistic-title">
                                            <span class="total">25</span>
                                            <span class="title">Daily Visits</span>
                                        </div>
                                    </li>
                                </div>
                                <div class="dashboard-middle-statistic-content">
                                    <li>
                                        <div class="dashboard-middle-statistic-icon">
                                @*<DollarCircleOutlined></DollarCircleOutlined>*@
                                </div>
                                        <div class="dashboard-middle-statistic-title">
                                            <span class="total">9.999.999</span>
                                            <span class="title">Total Income</span>
                                        </div>
                                    </li>
                                </div>
                                <div class="dashboard-middle-statistic-content">
                                    <li>
                                        <div class="dashboard-middle-statistic-icon">
                                @*<FileTextOutlined></FileTextOutlined>*@
                                </div>
                                                                <div class="dashboard-middle-statistic-title">
                                                                    <span class="total">5</span>
                                                                    <span class="title">Total Orders</span>
                                                                </div>
                                                            </li>
                                                        </div>
                                                    </div>

                                                </div>

                                                <div class="dashboard-new">
                                                    <div class="dashboard"></div>
                                                    <div class="dashboard"></div>
                                                </div>
                                            </div>
                                        </section>
                                    </div>
</div>
